<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727450433912-gbh3lkv1knbhjsn1ctfcvpk9822lhqdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727450433912-gbh3lkv1knbhjsn1ctfcvpk9822lhqdn</string>
	<key>API_KEY</key>
	<string>AIzaSyC4tRZDIM65JkuA99YQ373odTRGbEckx98</string>
	<key>GCM_SENDER_ID</key>
	<string>727450433912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eqmsTest</string>
	<key>PROJECT_ID</key>
	<string>eq-64f1a</string>
	<key>STORAGE_BUCKET</key>
	<string>eq-64f1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727450433912:ios:58496af18cd2a90938308d</string>
</dict>
</plist>